*

!README
!LICENSE

!.env.example

!.gitignore

!.github/
!.github/workflows/
!.github/workflows/**

!go.mod
!go.sum

!Makefile

!api/
!api/*.proto

!build/
!build/package/
!build/package/auth-service/
!build/package/auth-service/**

!cmd/
!cmd/auth-service/
!cmd/auth-service/*

!internal/
!internal/auth/
!internal/auth/*
!internal/config/
!internal/config/*
!internal/db/
!internal/db/*
!internal/store/
!internal/store/*

!scripts/
!scripts/module
